<div class="row">
    <div class="col">
        <div class="text-center">
            <h1 class="mb-5">HOME</h1>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum voluptas
                modi architecto soluta sed, facere officiis consequatur deleniti porro hic mollitia tempore ut quaerat
                laborum sapiente perferendis similique amet accusantium!
                Provident fugit earum at delectus ullam non. Quisquam voluptate, culpa ad ipsam laborum id fugit
                perspiciatis voluptates. Veritatis ipsum, modi vel, illum suscipit, repellat fuga error cumque
                voluptates numquam beatae?
                Ipsa tempore repudiandae quod eius placeat expedita aspernatur et beatae hic eos, aliquam pariatur
                accusantium esse voluptatem incidunt sit sint magni consequuntur minus, impedit eligendi dignissimos
                numquam cumque exercitationem. Ipsa!
                Consectetur ipsa dolores ipsum dolore, iste, laborum possimus sit nobis explicabo architecto quam itaque
                neque. Repudiandae labore nam nobis enim, facilis illo nulla voluptatem eaque, quo numquam magni
                voluptatibus repellat!
                Ad maxime amet assumenda quasi nihil blanditiis magni laborum perspiciatis fuga ex sint quos placeat
                repellat, laudantium necessitatibus libero? Repellat incidunt rerum mollitia autem iure quidem suscipit
                aliquam nihil atque.
                Nihil voluptas sapiente cumque. Aperiam at repellendus consectetur corporis blanditiis ad? Amet aperiam,
                molestiae eius cum impedit maiores deserunt minus ratione illum eligendi porro rerum! Totam saepe ipsam
                quos culpa!
                Quisquam eum tempora suscipit distinctio alias! Sed libero eum eaque sint placeat adipisci fugiat
                architecto animi beatae tempore necessitatibus repudiandae esse, delectus incidunt porro quibusdam!
                Atque sunt a incidunt ab.
                Itaque totam neque nobis illo magni ullam quia unde libero, aliquam voluptatibus? Amet neque ipsa quam.
                Temporibus totam dolores reprehenderit mollitia iure neque provident laudantium facilis voluptatibus
                nihil. Error, nisi.
                Voluptates accusantium, obcaecati fugiat ex ea tenetur eum dolorem nulla quam necessitatibus fugit quis
                eos facere accusamus repellendus. Voluptates voluptatum repellendus laboriosam voluptate, voluptatibus a
                facilis quia optio necessitatibus placeat!
                Fugit debitis recusandae ducimus quidem esse! Voluptas aperiam quidem voluptatibus repellendus. Odio
                quos saepe eius, aliquam veritatis quis, repellat, temporibus libero praesentium officiis nostrum nam
                debitis non. Harum, officiis corporis.
            </p>
        </div>
    </div>
</div>